body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none !important;
}
a:hover{
  color: #f00; /* Change the color to your desired hover color */
  text-decoration: underline; 
}


.nav-link:hover {
  color: #f00; /* Change the color to your desired hover color */
  text-decoration: underline; /* Add underline on hover */
}